<div class="entry">
	<div class="entry-title">Add a new photo</div>
	<div class="date">...and see what happens</div>
	<form action="<%= url_for :action => :create %>" method="post">
	  <label for="image_file">Image to upload:</label>
	  <input type="file" name="image_file" id="image_file" />
	  
	  <br /><br />
	  <input type="submit" value="Send it in!" />
	</form>
</div>
