<div class="entry">
	<div class="entry-title">Add a new photo</div>
	<div class="date">...and see what happens</div>
	<% form_for :photo, :url => { :action => :create },
	                    :html => { :multipart => true } do |form| %>
	  <label for="image_file">Image to upload:</label>
	  <%= form.file_field :image %>
	  
	  <br /><br />
    <%= submit_tag "Post it up!" %>
	<% end -%>
</div>
